doctype html
html
  head
    meta(charset='utf-8')      
    title Memory Game
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1 Memory Game
    button#start START
    h2#timer 60
    
    #table
    
    h3 Made in collaboration with Evan Gatchell and Dick Amrstrong-Stoner
    
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
