body{
  text-align: center;
}

#table{

}



.found{

}

#start{

}

#timer{

}

.hidden{
  background-image: none;
  border: 1px solid black;
}

.square{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: -3px 0 0 0;
}

#table{
  background-color: pink;
  height: 450px;
  width: 550px;
  margin: auto auto;
}

/***************************

.apple{
  background-image: url('/assets/Apple.png');
  // background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
}

.orange{
  background-image: url('/assets/Orange.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.kiwi{
  background-image: url('/assets/kiwi_PNG4035.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.cherry{
  background-image: url('/assets/Cherry.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.strawberry{
  background-image: url('/assets/strawberry.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.pear{
  background-image: url('/assets/pear.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.banana{
  background-image: url('/assets/banana.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.grape{
  background-image: url('/assets/grapes.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.watermelon{
  background-image: url('/assets/watermelon.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.lemon{
  background-image: url('/assets/lemon_PNG3880.png');
  background-size: contain;
  background-repeat: no-repeat;
}

**************************/
